asgiref==3.9.1
cobble==0.1.4
dj-database-url==3.0.1
Django==4.2
djangorestframework==3.14.0
et_xmlfile==2.0.0
gunicorn==23.0.0
lxml==6.0.2
mammoth==1.6.0
mysqlclient==2.2.7
openpyxl==3.1.2
packaging==25.0
pillow==11.3.0
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-docx==1.1.0
python-dotenv==1.1.1
pytz==2025.2
sqlparse==0.5.3
typing_extensions==4.15.0
tzdata==2025.2
whitenoise==6.11.0
